button {
	margin: 2px;
	border: 0px;
}

body {
	background-color: black;
}

.tokens_list_view {
	display: flexbox;
}

.tkn {
	background-color: darkmagenta;
	align-content: center;
	max-width: 128px;
	min-width: fit-content;
	text-align: center;
}

.tkn[data-selected="y"] {
	background-color: yellow;
}

.connect[data-connect="n"] {
	background-color: darkblue;
}


.connect[data-connect="l"] {
	background-color: grey;
}


.connect[data-connect="y"] {
	background-color: greenyellow;
}

.chains {
	display: flex;
	min-height: 2vw;
	justify-content: space-between;
	margin: 2pz;
	background-color: blueviolet;
}

.home {
	margin: 4px;
	border-color: black;
	font-family: monospace;
}
